{% extends "base_data.html" %}

<div class="col-md-10 col-md-offset-1 text-left">

  <div id="content">
    <form action="{{ form_action }}"
          method="{{ form_method }}">
      {{ form.state }}
      {{ form.district }}
    </form>
  </div>

{% block content %}
  <div id ="code">
    <h1>Code</h1>
      You can find out more about how we cleaned our data and generated insights from it,
      and built this website from our <a href = "https://github.com/pohyuquan/Project-Harris-YQ-CY-.git">github repository</a>.
      <br>
      <br>
    </div>

  </div>
</body>
</html>
{% endblock %}
