{% load staticfiles %}

{% block content %}
<head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,500,400,300,200,100,400italic0&subset=latin,greek,latin-ext' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
  <link rel="stylesheet" href="https://raw.githubusercontent.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
  <title>{{ title | default:"My Django Site" }}</title>

  <style>

  html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      }

  #map {
      position:absolute;
      top:0;
      bottom:0;
      right:0;
      left:0;
      }



  #map_80211a55dbcf4375888473bde4bc4a65 {
      position : right;
      width : 70.0%;
      height: 70.0%;
      left: 0.0%;
      top: 0.0%;
      }
  </style>

</head>

<body>
  <nav class="navbar navbar-inverse" id="navbar">
    <div class="col-md-10 col-md-offset-1">
      <ul class="nav navbar-nav">
        <li><a href="http://localhost:8000/myapp/">Home</a></li>
        <li><a href="http://localhost:8000/myapp/team">The Team</a></li>
        <li><a href="http://localhost:8000/myapp/data">Data</a></li>
        <li><a href="http://localhost:8000/myapp/code">Code</a></li>
        <li><a href="http://localhost:8000/myapp/final">Overall Relationship</a></li>
        <li><a href="http://localhost:8000/myapp/display_table">Tables by States</a></li>
        <li><a href="http://localhost:8000/myapp/display_pic">Plots by District</a></li>
        <li><a href="http://localhost:8000/myapp/display_picrelation">Expenditure vs Performance</a></li>
        <li><a href="http://localhost:8000/myapp/variables">Data Exploration</a></li>
        <li><a href="http://localhost:8000/myapp/contact">Contact</a></li>
      </ul>

      <img src="https://www.unic.ac.cy/files/image_slider/school-of-education.jpg" alt="Education" style="width:100%;" align="center">
    </div>
  </nav>

  <div class="col-md-10 col-md-offset-1 text-left">
  <h1>Contact Us</h1>
  Whether if it’s to find out more about our project,
  develop a similar dynamic website, <br>or just to say hi,
  you can drop us an email at <a href="mailto:limchengyee@uchicago.edu">limchengyee@uchicago.edu</a> or
  <a href="mailto:pohyuquan@uchicago.edu">pohyuquan@uchicago.edu</a>.<br>
  Alternatively, if you happen to be in Chicago, you can find us at Saieh Hall, University of Chicago.<br>
  <br>
    <div class="folium-map" id="map_80211a55dbcf4375888473bde4bc4a65" ></div>
  </div>
  <br>
  <br>
</body>

<script>
    var southWest = L.latLng(-90, -180);
    var northEast = L.latLng(90, 180);
    var bounds = L.latLngBounds(southWest, northEast);

    var map_80211a55dbcf4375888473bde4bc4a65 = L.map('map_80211a55dbcf4375888473bde4bc4a65', {
                                   center:[41.789621,-87.596398],
                                   zoom: 10,
                                   maxBounds: bounds,
                                   layers: [],
                                   crs: L.CRS.EPSG3857
                                 });




    var tile_layer_125097083e3649e5b9ea12ae2ab7b758 = L.tileLayer(
        'https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png',
        {
            maxZoom: 14,
            minZoom: 4,
            attribution: '(c) <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors (c) <a href="http://cartodb.com/attributions">CartoDB</a>, CartoDB <a href ="http://cartodb.com/attributions">attributions</a>',
            detectRetina: false
            }
        ).addTo(map_80211a55dbcf4375888473bde4bc4a65);





    var marker_9d0f764c37c14b2db2997d1a60c8b4c5 = L.marker(
        [41.789621,-87.596398],
        {
            icon: new L.Icon.Default()
            }
        )
        .addTo(map_80211a55dbcf4375888473bde4bc4a65);



    var popup_aaef890e881c435ea6053e719aba1b01 = L.popup({maxWidth: '300'});


        var html_74faedb0e29c42b8b372b2b3df088a37 = $('         <div id="html_74faedb0e29c42b8b372b2b3df088a37"                 style="width: 100.0%; height: 100.0%;">                 University of Chicago</div>                 ')[0];
        popup_aaef890e881c435ea6053e719aba1b01.setContent(html_74faedb0e29c42b8b372b2b3df088a37);


    marker_9d0f764c37c14b2db2997d1a60c8b4c5.bindPopup(popup_aaef890e881c435ea6053e719aba1b01);





</script>
{% endblock %}
