{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,500,400,300,200,100,400italic0&subset=latin,greek,latin-ext' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

    <title>{{ title | default:"My Django Site" }}</title>


</head>

<body>


<nav class="navbar navbar-inverse" id="navbar">
  <div class="col-md-10 col-md-offset-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://localhost:8000/myapp/">Home</a></li>
      <li><a href="http://localhost:8000/myapp/data">Data</a></li>
      <li><a href="#methods">Methods</a></li>
      <li><a href="#code">Code</a></li>
      <li><a href="http://localhost:8000/myapp/display_table">Tables</a></li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="http://localhost:8000/myapp/table">Tables<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/myapp/table/?state=Alaska">Alaska</a></li>
          <li><a href="/myapp/table/?state=Arizona">Arizona</a></li>
          <li><a href="/myapp/table/?state=California">California</a></li>
          <li><a href="/myapp/table/?state=Florida">Florida</a></li>
          <li><a href="/myapp/table/?state=Georgia">Georgia</a></li>
          <li><a href="/myapp/table/?state=Nevada">Nevada</a></li>
          <li><a href="/myapp/table/?state=North%20Carolina">North Carolina</a></li>
          <li><a href="/myapp/table/?state=South%20Carolina">South Carolina</a></li>
          <li><a href="/myapp/table/?state=Pennsylvania">Pennsylvania</a></li>
          <li><a href="/myapp/table/?state=Tennessee">Tennessee</a></li>
          <li><a href="/myapp/table/?state=Utah">Utah</a></li>
          <li><a href="/myapp/table/?state=Texas">Texas</a></li>
        </ul>
      </li>
      <li><a href="#schooldistricts">School Districts</a></li>
    </ul>

    <form method="{{ form_method }}">
      {{ form.currency }}
      {{ form.county }}
    </form>
    <img src="https://www.unic.ac.cy/files/image_slider/school-of-education.jpg" alt="Education" width="100%" align="center">
  </div>
</nav>

<div class="col-md-10 col-md-offset-1 text-left">

  <div id="content">
    {% block content %}{% endblock %}
  </div>

</div>

</body>
</html>
